---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=1%2FiGuw-WtIrjC8dXXbjq8buFGx1uWhJ2RR7yGALifdda4&client_id=779541226128-btgh4e3kfgp6mjn41o3iiegd12pnq3ah.apps.googleusercontent.com&client_secret=wCqdW05ugx9dq5g1oumsP72o
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename="json.txt"; filename*=UTF-8''json.txt
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token" : "ya29.GluHBAysggP1iM3aT7RMNt80aeTtvzExl3CR8bvg7ruHijNVAQfgBPN8_kOwKexVuL51qvWNbqsTWIub0mfNdcGqMrjlkdLWejDuOYmAtCrUzSWlL4TjvNeKA6uI",
          "expires_in" : 3600,
          "token_type" : "Bearer"
        }
  recorded_at: Fri, 14 Jul 2017 18:24:00 GMT
- request:
    method: post
    uri: https://www.googleapis.com/youtube/v3/comments?part=snippet
    body:
      encoding: UTF-8
      string: '{"snippet":{"parentId":"","textOriginal":"message"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.GluHBAysggP1iM3aT7RMNt80aeTtvzExl3CR8bvg7ruHijNVAQfgBPN8_kOwKexVuL51qvWNbqsTWIub0mfNdcGqMrjlkdLWejDuOYmAtCrUzSWlL4TjvNeKA6uI
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "youtube.comment",
            "reason": "parentIdMissing",
            "message": "The comment that is being inserted must be linked to a parent comment. However, the \u003ccode\u003ecomment\u003c/code\u003e resource in the body of the API request did not specify a value for the \u003ccode\u003e\u003ca href=\"/youtube/v3/docs/comments#snippet.parentId\"\u003esnippet.parentId\u003c/a\u003e\u003c/code\u003e property.",
            "locationType": "other",
            "location": "body.snippet"
           }
          ],
          "code": 400,
          "message": "The comment that is being inserted must be linked to a parent comment. However, the \u003ccode\u003ecomment\u003c/code\u003e resource in the body of the API request did not specify a value for the \u003ccode\u003e\u003ca href=\"/youtube/v3/docs/comments#snippet.parentId\"\u003esnippet.parentId\u003c/a\u003e\u003c/code\u003e property."
         }
        }
  recorded_at: Fri, 14 Jul 2017 18:24:00 GMT
recorded_with: VCR 3.0.3
