---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=1%2FiGuw-WtIrjC8dXXbjq8buFGx1uWhJ2RR7yGALifdda4&client_id=779541226128-btgh4e3kfgp6mjn41o3iiegd12pnq3ah.apps.googleusercontent.com&client_secret=wCqdW05ugx9dq5g1oumsP72o
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename="json.txt"; filename*=UTF-8''json.txt
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token" : "ya29.GlyHBD2hyKek9yaSEeu6ZWvIsYCtdZ5PjpK-if2IdDoRKUPiqVnmw0ZKjvQ_DKZA9h4sPh6nBayL4UIdz7KHuUjnr8EABzt1NthpKcOLneOuRgqBh_jlavRVA4z6qQ",
          "expires_in" : 3600,
          "token_type" : "Bearer"
        }
  recorded_at: Fri, 14 Jul 2017 22:34:02 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/youtube/v3/comments?part=snippet
    body:
      encoding: UTF-8
      string: '{"snippet":{"parentId":"z13rsx1pbzjhvjfxq04cjzehttrnif3qavw0k","textOriginal":"message"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.GlyHBD2hyKek9yaSEeu6ZWvIsYCtdZ5PjpK-if2IdDoRKUPiqVnmw0ZKjvQ_DKZA9h4sPh6nBayL4UIdz7KHuUjnr8EABzt1NthpKcOLneOuRgqBh_jlavRVA4z6qQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"m2yskBQFythfE4irbTIeOgYYfBU/QnCZUCaXqUx9kMCjDI4a_XJm0lM"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#comment",
         "etag": "\"m2yskBQFythfE4irbTIeOgYYfBU/QnCZUCaXqUx9kMCjDI4a_XJm0lM\"",
         "id": "z13rsx1pbzjhvjfxq04cjzehttrnif3qavw0k.1500071457734992",
         "snippet": {
          "authorDisplayName": "youtube integration",
          "authorProfileImageUrl": "https://yt3.ggpht.com/-_tmg0FHz2jo/AAAAAAAAAAI/AAAAAAAAAAA/FV3q0gYT_O0/s28-c-k-no-mo-rj-c0xffffff/photo.jpg",
          "authorChannelUrl": "http://www.youtube.com/channel/UCDZHtiTgsR--nD2sp96o6Kg",
          "authorChannelId": {
           "value": "UCDZHtiTgsR--nD2sp96o6Kg"
          },
          "textDisplay": "message",
          "textOriginal": "message",
          "parentId": "z13rsx1pbzjhvjfxq04cjzehttrnif3qavw0k",
          "canRate": true,
          "viewerRating": "none",
          "likeCount": 0,
          "publishedAt": "2017-07-14T22:30:57.000Z",
          "updatedAt": "2017-07-14T22:30:57.000Z"
         }
        }
  recorded_at: Fri, 14 Jul 2017 22:34:04 GMT
recorded_with: VCR 3.0.3
