---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=1%2FiGuw-WtIrjC8dXXbjq8buFGx1uWhJ2RR7yGALifdda4&client_id=779541226128-btgh4e3kfgp6mjn41o3iiegd12pnq3ah.apps.googleusercontent.com&client_secret=wCqdW05ugx9dq5g1oumsP72o
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename="json.txt"; filename*=UTF-8''json.txt
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token" : "ya29.GlyHBEMctpJmBx77QTNX3Hvex54-986nQhx8w5fBY4pTWT6EB4PYkKyIBSBEPFCGtFn0uRqOcACBJ0ZdfbMEsTpo7xwAdp9uzMwLMksDhKUJV0IIUgTAOdKSLTTG3Q",
          "expires_in" : 3600,
          "token_type" : "Bearer"
        }
  recorded_at: Fri, 14 Jul 2017 22:34:05 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?forMine=true&maxResults=5&part=snippet&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.GlyHBEMctpJmBx77QTNX3Hvex54-986nQhx8w5fBY4pTWT6EB4PYkKyIBSBEPFCGtFn0uRqOcACBJ0ZdfbMEsTpo7xwAdp9uzMwLMksDhKUJV0IIUgTAOdKSLTTG3Q
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"m2yskBQFythfE4irbTIeOgYYfBU/ysIOeznPAOMojWHLYjR46YG9i7s"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"m2yskBQFythfE4irbTIeOgYYfBU/ysIOeznPAOMojWHLYjR46YG9i7s\"",
         "nextPageToken": "Cib3-Xpd5P____9rRHlYX0g5VUc5YwD_Af_-a0R5WF9IOVVHOWMAARABIZEj8sYn07azOQAAAAAbooUGSAFQAFoLCWT9ClEuhws9EAJgwJqExQQ=",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 5
         },
         "items": [
          {
           "kind": "youtube#searchResult",
           "etag": "\"m2yskBQFythfE4irbTIeOgYYfBU/Lk3eY_O4wEVpDRhywpempMprJ0M\"",
           "id": {
            "kind": "youtube#video",
            "videoId": "kDyX_H9UG9c"
           },
           "snippet": {
            "publishedAt": "2017-07-14T21:15:17.000Z",
            "channelId": "UCDZHtiTgsR--nD2sp96o6Kg",
            "title": "Test",
            "description": "Test",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/kDyX_H9UG9c/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/kDyX_H9UG9c/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/kDyX_H9UG9c/hqdefault.jpg",
              "width": 480,
              "height": 360
             }
            },
            "liveBroadcastContent": "none"
           }
          }
         ]
        }
  recorded_at: Fri, 14 Jul 2017 22:34:05 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/commentThreads?part=snippet,replies&videoId=kDyX_H9UG9c
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.GlyHBHkiqUgFb5rASaVw833bQWkmd5I8k6bidmUVjfJl4OlEIrhNY8zy9p3UZ2jv6v2zWl0C_ZPMGnYTAbWaNOuBe-65udyxGmYEVGtTK9487kpn5iwmt6Y4NjX9vw
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"m2yskBQFythfE4irbTIeOgYYfBU/seWPVYGEVJntWWjR8jMS06kkP6w"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#commentThreadListResponse",
         "etag": "\"m2yskBQFythfE4irbTIeOgYYfBU/seWPVYGEVJntWWjR8jMS06kkP6w\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 20
         },
         "items": [
          {
           "kind": "youtube#commentThread",
           "etag": "\"m2yskBQFythfE4irbTIeOgYYfBU/CpU8OKHsz8PAKssej9O4os9Vb80\"",
           "id": "z13rsx1pbzjhvjfxq04cjzehttrnif3qavw0k",
           "snippet": {
            "videoId": "kDyX_H9UG9c",
            "topLevelComment": {
             "kind": "youtube#comment",
             "etag": "\"m2yskBQFythfE4irbTIeOgYYfBU/q4AE23Tha-Yq9sPVJ0WogeDpS54\"",
             "id": "z13rsx1pbzjhvjfxq04cjzehttrnif3qavw0k",
             "snippet": {
              "authorDisplayName": "youtube integration",
              "authorProfileImageUrl": "https://yt3.ggpht.com/-_tmg0FHz2jo/AAAAAAAAAAI/AAAAAAAAAAA/FV3q0gYT_O0/s28-c-k-no-mo-rj-c0xffffff/photo.jpg",
              "authorChannelUrl": "http://www.youtube.com/channel/UCDZHtiTgsR--nD2sp96o6Kg",
              "authorChannelId": {
               "value": "UCDZHtiTgsR--nD2sp96o6Kg"
              },
              "videoId": "kDyX_H9UG9c",
              "textDisplay": "TEST",
              "textOriginal": "TEST",
              "canRate": true,
              "viewerRating": "none",
              "likeCount": 0,
              "publishedAt": "2017-07-14T21:15:55.000Z",
              "updatedAt": "2017-07-14T21:15:55.000Z"
             }
            },
            "canReply": true,
            "totalReplyCount": 7,
            "isPublic": true
           },
           "replies": {
            "comments": [
             {
              "kind": "youtube#comment",
              "etag": "\"m2yskBQFythfE4irbTIeOgYYfBU/xQLHTKwEVX79s7wDZslUkYtPMPY\"",
              "id": "z13rsx1pbzjhvjfxq04cjzehttrnif3qavw0k.1500071457734992",
              "snippet": {
               "authorDisplayName": "youtube integration",
               "authorProfileImageUrl": "https://yt3.ggpht.com/-_tmg0FHz2jo/AAAAAAAAAAI/AAAAAAAAAAA/FV3q0gYT_O0/s28-c-k-no-mo-rj-c0xffffff/photo.jpg",
               "authorChannelUrl": "http://www.youtube.com/channel/UCDZHtiTgsR--nD2sp96o6Kg",
               "authorChannelId": {
                "value": "UCDZHtiTgsR--nD2sp96o6Kg"
               },
               "videoId": "kDyX_H9UG9c",
               "textDisplay": "message",
               "textOriginal": "message",
               "parentId": "z13rsx1pbzjhvjfxq04cjzehttrnif3qavw0k",
               "canRate": true,
               "viewerRating": "none",
               "likeCount": 0,
               "publishedAt": "2017-07-14T22:30:57.000Z",
               "updatedAt": "2017-07-14T22:30:57.000Z"
              }
             },
             {
              "kind": "youtube#comment",
              "etag": "\"m2yskBQFythfE4irbTIeOgYYfBU/ymFkRuuwmSVG1XoPzeR4qxudhK4\"",
              "id": "z13rsx1pbzjhvjfxq04cjzehttrnif3qavw0k.15000712661[...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?forMine=true&maxResults=5&pageToken=Cib3-Xpd5P____9rRHlYX0g5VUc5YwD_Af_-a0R5WF9IOVVHOWMAARABIZEj8sYn07azOQAAAAAbooUGSAFQAFoLCWT9ClEuhws9EAJgwJqExQQ=&part=snippet&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.GlyHBHkiqUgFb5rASaVw833bQWkmd5I8k6bidmUVjfJl4OlEIrhNY8zy9p3UZ2jv6v2zWl0C_ZPMGnYTAbWaNOuBe-65udyxGmYEVGtTK9487kpn5iwmt6Y4NjX9vw
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"m2yskBQFythfE4irbTIeOgYYfBU/wcBZ6U-gPnPFUuMcMjHHdUZA564"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"m2yskBQFythfE4irbTIeOgYYfBU/wcBZ6U-gPnPFUuMcMjHHdUZA564\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 5
         },
         "items": []
        }
  recorded_at: Fri, 14 Jul 2017 22:34:06 GMT
recorded_with: VCR 3.0.3
