<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Youtube Integration</title>
	<link rel="stylesheet" href="style.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js"></script>
</head>
<body>
	<div id='app'></div>
	<script type="text/babel" src="components/OAuthCompleted.jsx"></script>
</body>
</html>
